.version.actors /* version checker */
{
	color: #0000F2;
	background-color: #88603B;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2017px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu160
{
	width: 0.01px;
	padding-bottom: 302px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u160
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	position: fixed;
	top: 166px;
	left: 860px;
}

#u1265
{
	z-index: 171;
	height: 56px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: fixed;
	top: 0px;
}

#u1265-bw
{
	z-index: 171;
}

#u1270-4
{
	z-index: 172;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 7px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -137px;
}

#u1270-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -137px;
}

#u1271-4
{
	z-index: 176;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -47px;
}

#u1271-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -47px;
}

#u1267-4
{
	z-index: 180;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 43px;
}

#u1267-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 43px;
}

#u1266-4
{
	z-index: 184;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 133px;
}

#u1266-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 133px;
}

#u1268-4
{
	z-index: 188;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 223px;
}

#u1268-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 223px;
}

#u1264-4
{
	z-index: 192;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 313px;
}

#u1272-4
{
	z-index: 196;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 403px;
}

#u1272-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 403px;
}

#u1270-4:hover p,#u1271-4:hover p,#u1267-4:hover p,#u1266-4:hover p,#u1268-4:hover p,#u1272-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

#u1269
{
	z-index: 200;
	width: 285px;
	height: 44px;
	position: fixed;
	top: 6px;
	left: 50%;
	margin-left: -480px;
	background: transparent url("../images/logo_game_of_thrones.png") no-repeat center center;
	background-size: cover;
}

#pu1242-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 90px;
	margin-left: 20px;
}

#u1242-5
{
	z-index: 3;
	width: 542px;
	min-height: 125px;
	background-color: transparent;
	color: #0071BC;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1242-2
{
	font-size: 55px;
	line-height: 66px;
}

#u1242-3
{
	font-size: 34px;
	line-height: 41px;
}

#pu1292
{
	width: 0.01px;
	margin-top: 177px;
}

#u1292
{
	z-index: 29;
	width: 920px;
	height: 1714px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#u1299
{
	z-index: 30;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 99px;
}

#u1305-10
{
	z-index: 32;
	width: 190px;
	min-height: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 256px;
}

#u1306
{
	z-index: 42;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 467px;
}

#u1312-10
{
	z-index: 44;
	width: 190px;
	min-height: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 630px;
}

#u1313-4
{
	z-index: 54;
	width: 721px;
	min-height: 49px;
	border-style: solid;
	border-color: #E6E6FF;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 100px;
	border-width: 0px 0px 1px;
}

#u1314
{
	z-index: 58;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 465px;
	left: 99px;
}

#u1320-10
{
	z-index: 60;
	width: 190px;
	min-height: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 256px;
}

#u1305-2,#u1312-2,#u1320-2
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1305-4,#u1305-8,#u1312-4,#u1312-5,#u1312-8,#u1320-4,#u1320-5,#u1320-8
{
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1321
{
	z-index: 70;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 465px;
	left: 467px;
}

#u1327-10
{
	z-index: 72;
	width: 190px;
	min-height: 97px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 630px;
}

#u1328
{
	z-index: 82;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 755px;
	left: 99px;
}

#u1334-10
{
	z-index: 84;
	width: 190px;
	min-height: 128px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 756px;
	left: 256px;
}

#u1335
{
	z-index: 94;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 755px;
	left: 467px;
}

#u1341-11
{
	z-index: 96;
	width: 190px;
	min-height: 128px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 756px;
	left: 630px;
}

#u1342
{
	z-index: 107;
	width: 142px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1044px;
	left: 99px;
}

#u1348-11
{
	z-index: 109;
	width: 190px;
	min-height: 128px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1045px;
	left: 256px;
}

#u1349
{
	z-index: 120;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1044px;
	left: 467px;
}

#u1349_img
{
	margin-right: -3px;
	margin-bottom: -5px;
}

#u1355-11
{
	z-index: 122;
	width: 190px;
	min-height: 128px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1053px;
	left: 630px;
}

#u1356
{
	z-index: 133;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1337px;
	left: 99px;
}

#u1362-11
{
	z-index: 135;
	width: 190px;
	min-height: 128px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1338px;
	left: 256px;
}

#u1363
{
	z-index: 146;
	width: 140px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1337px;
	left: 467px;
}

#u1369-11
{
	z-index: 148;
	width: 190px;
	min-height: 128px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1338px;
	left: 630px;
}

#u1327-2,#u1334-2,#u1341-2,#u1348-2,#u1355-2,#u1362-2,#u1369-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

#u1327-4,#u1327-5,#u1327-6,#u1327-8,#u1334-4,#u1334-5,#u1334-6,#u1334-8,#u1341-4,#u1341-5,#u1341-6,#u1341-7,#u1341-9,#u1348-4,#u1348-5,#u1348-6,#u1348-7,#u1348-9,#u1355-4,#u1355-5,#u1355-6,#u1355-7,#u1355-9,#u1362-4,#u1362-5,#u1362-6,#u1362-7,#u1362-9,#u1369-4,#u1369-5,#u1369-6,#u1369-7,#u1369-9
{
	font-weight: 300;
}

#u1575-4
{
	z-index: 159;
	width: 27px;
	min-height: 27px;
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	background-color: transparent;
	border-radius: 250px;
	color: #E6E6E6;
	text-indent: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1633px;
	left: 750px;
}

#u1575-4.MuseLinkActive
{
	border-color: #0071BC;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 27px;
	margin: 1633px -10000px 0px 0px;
}

#u1576-4
{
	z-index: 163;
	width: 27px;
	min-height: 27px;
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	background-color: transparent;
	border-radius: 250px;
	color: #E6E6E6;
	text-indent: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1633px;
	left: 797px;
}

#u1577-4
{
	z-index: 167;
	width: 27px;
	min-height: 27px;
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	background-color: transparent;
	border-radius: 250px;
	color: #E6E6E6;
	text-indent: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1633px;
	left: 844px;
}

#u1576-4:hover,#u1577-4:hover
{
	border-color: #0071BC;
	border-radius: 250px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 27px;
	margin: 1633px -10000px 0px 0px;
}

#u1575-2,#u1576-2,#u1577-2
{
	padding-top: 5px;
}

#u1237-7
{
	z-index: 8;
	width: 319px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 20px;
}

#u1237
{
	text-indent: 37px;
}

#u1244-7
{
	z-index: 15;
	width: 150px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 455px;
}

#u1244
{
	text-indent: 26px;
}

#u1261-7
{
	z-index: 22;
	width: 220px;
	min-height: 72px;
	background-color: transparent;
	color: #E6E6E6;
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 720px;
}

.html
{
	background: #FFFFFF url("../images/actors2.jpg") no-repeat center center fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 104px;
}

.verticalspacer
{
	min-height: 1px;
}

