
#u1699-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1692-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1698-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1693-4,#u1700-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1695-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1696-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1709-4,#u2223-4,#u2224-4,#u2225-4,#u2226-4,#u2227-4,#u2228-4,#u2229-4,#u2230-4,#u2232-4,#u2233-4,#u1708-7,#u1711-7,#u1712-7
{
	font-family: open-sans-n3, sans-serif;
}

