
#u76-4,#u79-4
{
	font-family: open-sans-n3, sans-serif;
}

#u80-4
{
	font-family: open-sans-n3, sans-serif;
}

#u81-4
{
	font-family: open-sans-n3, sans-serif;
}

#u82-4
{
	font-family: open-sans-n3, sans-serif;
}

#u113-6,#u159-4,#u125-4,#u131-7,#u139-4,#u147-7,#u83-4
{
	font-family: open-sans-n3, sans-serif;
}

#u84-4
{
	font-family: open-sans-n3, sans-serif;
}

#u156-7,#u157-7,#u158-7
{
	font-family: open-sans-n3, sans-serif;
}

