
#u648-4
{
	font-family: open-sans-n3, sans-serif;
}

#u646-4
{
	font-family: open-sans-n3, sans-serif;
}

#u641-4
{
	font-family: open-sans-n3, sans-serif;
}

#u642-4
{
	font-family: open-sans-n3, sans-serif;
}

#u647-4
{
	font-family: open-sans-n3, sans-serif;
}

#u643-4
{
	font-family: open-sans-n3, sans-serif;
}

#u649-4
{
	font-family: open-sans-n3, sans-serif;
}

#u605-5,#u607-8,#u610-5,#u629-7,#u621-7,#u593-6,#u668-8,#u693-6,#u700-6,#u824-6,#u825-4,#u827-7,#u830-7,#u835-6,#u842-7,#u845-7,#u589-7,#u616-7,#u594-7
{
	font-family: open-sans-n3, sans-serif;
}

