
#u1410-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1409-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1416-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1411-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1413-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1412-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1415-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1392-5,#u1407-2,#u1407-4,#u1407-5,#u1407-9,#u1386-2,#u1386-4,#u1386-5,#u1386-6,#u1386-9,#u1376-4,#u1378-2,#u1378-4,#u1378-5,#u1378-6,#u1378-9,#u1391-11,#u1400-11,#u1394-11,#u1404-12,#u1390-12,#u1401-12,#u1399-12,#u1385-7,#u1389-7,#u1393-7
{
	font-family: open-sans-n3, sans-serif;
}

