
#u3564-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3561-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3565-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3562-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3566-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3568-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3563-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3590-5,#u3614-4,#u3698-4,#u3612-7,#u3588-7,#u3602-7
{
	font-family: open-sans-n3, sans-serif;
}

