
#u1011-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1013-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1010-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1008-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1012-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1006-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1014-4
{
	font-family: open-sans-n3, sans-serif;
}

#u977-5,#u979-6,#u985-4,#u1019-4,#u1021-36,#u1022-34,#u1023-4,#u1024-15,#u1025-4,#u1026-75,#u1027-67,#u1029-59,#u1183-6,#u1184-7,#u1185-7,#u1186-5,#u1187-5,#u1188-5,#u984-7,#u980-7,#u988-7
{
	font-family: open-sans-n3, sans-serif;
}

