
#u6271-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6279-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6274-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6277-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6276-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6275-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6278-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6282-5,#u6321-4,#u6281-4,#u6284-7,#u6323-7,#u6322-7
{
	font-family: open-sans-n3, sans-serif;
}

