
#u1478-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1474-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1476-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1480-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1479-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1472-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1475-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1489-5,#u1496-2,#u1496-4,#u1496-5,#u1496-6,#u1496-10,#u1516-2,#u1516-4,#u1516-5,#u1516-6,#u1516-7,#u1516-10,#u1502-4,#u1490-2,#u1490-4,#u1490-5,#u1490-6,#u1490-7,#u1490-10,#u1488-12,#u1487-12,#u1515-12,#u1491-12,#u1497-12,#u1492-12,#u1486-12,#u1493-7,#u1519-7,#u1503-7
{
	font-family: open-sans-n3, sans-serif;
}

