
#u1270-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1271-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1267-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1266-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1268-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1264-4,#u1272-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1242-5,#u1305-2,#u1305-4,#u1305-8,#u1312-2,#u1312-4,#u1312-5,#u1312-8,#u1313-4,#u1320-2,#u1320-4,#u1320-5,#u1320-8,#u1327-10,#u1334-10,#u1341-11,#u1348-11,#u1355-11,#u1362-11,#u1369-11,#u1237-7,#u1244-7,#u1261-7
{
	font-family: open-sans-n3, sans-serif;
}

