
#u427-4
{
	font-family: open-sans-n3, sans-serif;
}

#u424-4
{
	font-family: open-sans-n3, sans-serif;
}

#u430-4
{
	font-family: open-sans-n3, sans-serif;
}

#u425-4
{
	font-family: open-sans-n3, sans-serif;
}

#u428-4
{
	font-family: open-sans-n3, sans-serif;
}

#u426-4
{
	font-family: open-sans-n3, sans-serif;
}

#u429-4
{
	font-family: open-sans-n3, sans-serif;
}

#u390-5,#u554-4,#u380-7,#u398-4,#u408-7,#u452-4,#u454-4,#u473-4,#u480-4,#u487-4,#u494-4,#u501-4,#u515-4,#u516-4,#u517-7,#u518-4,#u525-4,#u532-4,#u534-7,#u536-4,#u546-4,#u555-7,#u557-4,#u564-7,#u565-4,#u573-4,#u406-7,#u383-7,#u379-7
{
	font-family: open-sans-n3, sans-serif;
}

