
#u10288-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10296-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10291-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10294-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10293-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10292-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10295-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10299-5,#u10338-4,#u10298-4,#u10301-7,#u10340-7,#u10339-7
{
	font-family: open-sans-n3, sans-serif;
}

