
#u1066-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1060-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1059-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1062-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1067-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1065-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1063-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1032-5,#u1033-4,#u1145-4,#u1098-4,#u1110-4,#u1115-6,#u1116-7,#u1117-7,#u1118-7,#u1119-7,#u1120-7,#u1121-7,#u1122-7,#u1123-7,#u1124-7,#u1111-4,#u1127-4,#u1128-4,#u1129-4,#u1131-4,#u1133-4,#u1134-4,#u1112-4,#u1113-4,#u1135-4,#u1136-4,#u1137-4,#u1138-4,#u1139-4,#u1140-4,#u1141-4,#u1142-4,#u1143-4,#u1144-4,#u1088-4,#u1089-4,#u1090-4,#u1091-4,#u1092-4,#u1093-4,#u1094-4,#u1095-4,#u1096-4,#u1097-4,#u1099-4,#u1100-4,#u1101-4,#u1102-4,#u1103-4,#u1104-4,#u1105-4,#u1106-4,#u1107-4,#u1108-4,#u1109-4,#u1114-6,#u1125-4,#u1126-4,#u1130-4,#u1132-4,#u1146-4,#u1043-7,#u1042-7,#u1036-7
{
	font-family: open-sans-n3, sans-serif;
}

