
#u1615-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1609-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1614-4,#u1608-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1613-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1611-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1616-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1632-5,#u3545-4,#u3383-4,#u3399-4,#u3415-4,#u3431-4,#u3447-4,#u3463-4,#u3479-4,#u3495-4,#u3511-4,#u3542-4,#u1636-7,#u1651-7,#u1628-7
{
	font-family: open-sans-n3, sans-serif;
}

