
#u193-4
{
	font-family: open-sans-n3, sans-serif;
}

#u199-4,#u197-4
{
	font-family: open-sans-n3, sans-serif;
}

#u198-4
{
	font-family: open-sans-n3, sans-serif;
}

#u192-4
{
	font-family: open-sans-n3, sans-serif;
}

#u195-4
{
	font-family: open-sans-n3, sans-serif;
}

#u191-4
{
	font-family: open-sans-n3, sans-serif;
}

#u179-5,#u184-8,#u170-4,#u169-7,#u215-7,#u224-7,#u257-7,#u266-7,#u173-7,#u185-7,#u181-7
{
	font-family: open-sans-n3, sans-serif;
}

