
#u13107-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13115-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13110-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13113-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13112-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13111-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13114-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13118-5,#u13157-4,#u13117-4,#u13120-7,#u13159-7,#u13158-7
{
	font-family: open-sans-n3, sans-serif;
}

