
#u900-4
{
	font-family: open-sans-n3, sans-serif;
}

#u899-4
{
	font-family: open-sans-n3, sans-serif;
}

#u903-4
{
	font-family: open-sans-n3, sans-serif;
}

#u904-4
{
	font-family: open-sans-n3, sans-serif;
}

#u902-4
{
	font-family: open-sans-n3, sans-serif;
}

#u907-4
{
	font-family: open-sans-n3, sans-serif;
}

#u906-4,#u879-5,#u937-4,#u938-4,#u946-11,#u953-4,#u954-4,#u956-4,#u957-4,#u958-7,#u959-7,#u960-5,#u963-9,#u964-8,#u965-8,#u966-14,#u885-7,#u890-7,#u896-7
{
	font-family: open-sans-n3, sans-serif;
}

