
#u19619-4
{
	font-family: open-sans-n3, sans-serif;
}

#u19621-4
{
	font-family: open-sans-n3, sans-serif;
}

#u19620-4
{
	font-family: open-sans-n3, sans-serif;
}

#u19625-4
{
	font-family: open-sans-n3, sans-serif;
}

#u19618-4,#u19624-4
{
	font-family: open-sans-n3, sans-serif;
}

#u19623-4
{
	font-family: open-sans-n3, sans-serif;
}

#u19507-4,#u19646-4,#u19523-7,#u19522-7,#u19586-7
{
	font-family: open-sans-n3, sans-serif;
}

