
#u5385-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5383-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5388-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5384-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5390-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5382-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5386-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5701-5,#u5700-4,#u5695-4,#u5696-7,#u5699-7,#u5698-7
{
	font-family: open-sans-n3, sans-serif;
}

