.version.photo3 /* version checker */
{
	color: #000012;
	background-color: #93C970;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 777px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu160
{
	width: 0.01px;
	padding-bottom: 302px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u160
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	position: fixed;
	top: 166px;
	left: 860px;
}

#u6272
{
	z-index: 285;
	height: 56px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: fixed;
	top: 0px;
}

#u6272-bw
{
	z-index: 285;
}

#u6271-4
{
	z-index: 286;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 7px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -137px;
}

#u6271-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -137px;
}

#u6279-4
{
	z-index: 290;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -47px;
}

#u6279-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -47px;
}

#u6274-4
{
	z-index: 294;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 43px;
}

#u6274-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 43px;
}

#u6277-4
{
	z-index: 298;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 133px;
}

#u6277-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 133px;
}

#u6276-4
{
	z-index: 302;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 223px;
}

#u6276-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 223px;
}

#u6275-4
{
	z-index: 306;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 313px;
}

#u6275-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 313px;
}

#u6278-4
{
	z-index: 310;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 403px;
}

#u6278-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 403px;
}

#u6271-4:hover p,#u6279-4:hover p,#u6274-4:hover p,#u6277-4:hover p,#u6276-4:hover p,#u6275-4:hover p,#u6278-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

#u6273
{
	z-index: 314;
	width: 285px;
	height: 44px;
	position: fixed;
	top: 6px;
	left: 50%;
	margin-left: -480px;
	background: transparent url("../images/logo_game_of_thrones.png") no-repeat center center;
	background-size: cover;
}

#pu6282-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 90px;
	margin-left: 20px;
}

#u6282-5
{
	z-index: 3;
	width: 413px;
	min-height: 125px;
	background-color: transparent;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6282-2
{
	font-size: 55px;
	line-height: 66px;
}

#u6282-3
{
	font-size: 34px;
	line-height: 41px;
}

#pu6321-4
{
	width: 0.01px;
	margin-top: 76px;
}

#u6321-4
{
	z-index: 30;
	width: 106px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6281-4
{
	z-index: 34;
	width: 367px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#pu6283
{
	width: 0.01px;
}

#u6283
{
	z-index: 8;
	width: 920px;
	height: 438px;
	background-color: #E6E6E6;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#slideshowu21815
{
	z-index: 38;
	width: 0.01px;
	height: 321px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 22px;
}

#u21829
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 71px;
	left: 268px;
	-pie-background: rgba(0,0,0,0.9);
}

#u21829popup
{
	z-index: 39;
}

#u21832
{
	z-index: 40;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22317
{
	z-index: 42;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22317_img
{
	padding-top: 20px;
	padding-bottom: 21px;
}

#u22337
{
	z-index: 44;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22357
{
	z-index: 46;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22377
{
	z-index: 48;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22377_img
{
	padding-left: 120px;
	padding-right: 121px;
}

#u22397
{
	z-index: 50;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22417
{
	z-index: 52;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22437
{
	z-index: 54;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22457
{
	z-index: 56;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22477
{
	z-index: 58;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22497
{
	z-index: 60;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22497_img
{
	padding-left: 121px;
	padding-right: 120px;
}

#u22517
{
	z-index: 62;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22517_img
{
	padding-left: 121px;
	padding-right: 121px;
}

#u22537
{
	z-index: 64;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22557
{
	z-index: 66;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22577
{
	z-index: 68;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22577_img
{
	padding-left: 38px;
	padding-right: 38px;
}

#u22597
{
	z-index: 70;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22597_img
{
	padding-left: 103px;
	padding-right: 103px;
}

#u22617
{
	z-index: 72;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22637
{
	z-index: 74;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22657
{
	z-index: 76;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22657_img
{
	padding-left: 119px;
	padding-right: 118px;
}

#u22677
{
	z-index: 78;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22697
{
	z-index: 80;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22717
{
	z-index: 82;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22737
{
	z-index: 84;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22757
{
	z-index: 86;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22777
{
	z-index: 88;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22797
{
	z-index: 90;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22817
{
	z-index: 92;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22837
{
	z-index: 94;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22857
{
	z-index: 96;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22877
{
	z-index: 98;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22897
{
	z-index: 100;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22917
{
	z-index: 102;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22937
{
	z-index: 104;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22957
{
	z-index: 106;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22977
{
	z-index: 108;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22357_img,#u22397_img,#u22437_img,#u22557_img,#u22637_img,#u22977_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u22997
{
	z-index: 110;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22777_img,#u22957_img,#u22997_img
{
	padding-left: 105px;
	padding-right: 106px;
}

#u23017
{
	z-index: 112;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23037
{
	z-index: 114;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23057
{
	z-index: 116;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23057_img
{
	padding-bottom: 1px;
}

#u23077
{
	z-index: 118;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23077_img
{
	padding-left: 77px;
	padding-right: 78px;
}

#u23097
{
	z-index: 120;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23117
{
	z-index: 122;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u21832_img,#u22337_img,#u22417_img,#u22477_img,#u22937_img,#u23017_img,#u23037_img,#u23097_img,#u23117_img
{
	padding-left: 120px;
	padding-right: 120px;
}

#u23137
{
	z-index: 124;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23157
{
	z-index: 126;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23177
{
	z-index: 128;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22457_img,#u23137_img,#u23157_img,#u23177_img
{
	padding-left: 119px;
	padding-right: 119px;
}

#u23197
{
	z-index: 130;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23217
{
	z-index: 132;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23217_img
{
	padding-top: 15px;
	padding-bottom: 16px;
}

#u23237
{
	z-index: 134;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23237_img
{
	padding-top: 17px;
	padding-bottom: 17px;
}

#u23257
{
	z-index: 136;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23257_img
{
	padding-left: 101px;
	padding-right: 102px;
}

#u23277
{
	z-index: 138;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23277_img
{
	padding-left: 88px;
	padding-right: 88px;
}

#u23297
{
	z-index: 140;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23297_img
{
	padding-left: 5px;
	padding-right: 5px;
}

#u23317
{
	z-index: 142;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23317_img
{
	padding-top: 26px;
	padding-bottom: 26px;
}

#u23337
{
	z-index: 144;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23337_img
{
	padding-top: 16px;
	padding-bottom: 16px;
}

#u23357
{
	z-index: 146;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23357_img
{
	padding-left: 118px;
	padding-right: 117px;
}

#u23377
{
	z-index: 148;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23197_img,#u23377_img
{
	padding-left: 122px;
	padding-right: 122px;
}

#u23397
{
	z-index: 150;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23397_img
{
	padding-top: 18px;
	padding-bottom: 17px;
}

#u23417
{
	z-index: 152;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u22537_img,#u22617_img,#u22677_img,#u22697_img,#u22717_img,#u22737_img,#u22757_img,#u22817_img,#u22897_img,#u23417_img
{
	padding-left: 105px;
	padding-right: 105px;
}

#u23437
{
	z-index: 154;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u23437_img
{
	padding: 98px 102px 97px 103px;
}

#u21821
{
	position: absolute;
	width: 895px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 56px;
}

#u21821popup
{
	z-index: 156;
}

#u21826
{
	z-index: 157;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u22323
{
	z-index: 159;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u22343
{
	z-index: 161;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u22363
{
	z-index: 163;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u22383
{
	z-index: 165;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u22403
{
	z-index: 167;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 382px;
}

#u22423
{
	z-index: 169;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 452px;
}

#u22443
{
	z-index: 171;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u22463
{
	z-index: 173;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 592px;
}

#u22483
{
	z-index: 175;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 662px;
}

#u22503
{
	z-index: 177;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 732px;
}

#u22523
{
	z-index: 179;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 802px;
}

#u21826:hover,#u22323:hover,#u22343:hover,#u22363:hover,#u22383:hover,#u22403:hover,#u22423:hover,#u22443:hover,#u22463:hover,#u22483:hover,#u22503:hover,#u22523:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22543
{
	z-index: 181;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 32px;
}

#u22563
{
	z-index: 183;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 102px;
}

#u22583
{
	z-index: 185;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 172px;
}

#u22583_img
{
	margin-top: -4px;
	margin-bottom: -4px;
}

#u22603
{
	z-index: 187;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 242px;
}

#u22623
{
	z-index: 189;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 312px;
}

#u22643
{
	z-index: 191;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 382px;
}

#u22323_img,#u22363_img,#u22403_img,#u22443_img,#u22643_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u22663
{
	z-index: 193;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 452px;
}

#u22683
{
	z-index: 195;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 522px;
}

#u22703
{
	z-index: 197;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 592px;
}

#u22723
{
	z-index: 199;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 662px;
}

#u22743
{
	z-index: 201;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 732px;
}

#u22763
{
	z-index: 203;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 802px;
}

#u22543:hover,#u22563:hover,#u22583:hover,#u22603:hover,#u22623:hover,#u22643:hover,#u22663:hover,#u22683:hover,#u22703:hover,#u22723:hover,#u22743:hover,#u22763:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u22783
{
	z-index: 205;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 32px;
}

#u22803
{
	z-index: 207;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 102px;
}

#u22823
{
	z-index: 209;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 172px;
}

#u22843
{
	z-index: 211;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 242px;
}

#u22863
{
	z-index: 213;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 312px;
}

#u22883
{
	z-index: 215;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 382px;
}

#u22903
{
	z-index: 217;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 452px;
}

#u22923
{
	z-index: 219;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 522px;
}

#u22943
{
	z-index: 221;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 592px;
}

#u22963
{
	z-index: 223;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 662px;
}

#u22983
{
	z-index: 225;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 732px;
}

#u22563_img,#u22983_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u23003
{
	z-index: 227;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 802px;
}

#u22783:hover,#u22803:hover,#u22823:hover,#u22843:hover,#u22863:hover,#u22883:hover,#u22903:hover,#u22923:hover,#u22943:hover,#u22963:hover,#u22983:hover,#u23003:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u23023
{
	z-index: 229;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 32px;
}

#u23043
{
	z-index: 231;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 102px;
}

#u23063
{
	z-index: 233;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 172px;
}

#u23083
{
	z-index: 235;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 242px;
}

#u23103
{
	z-index: 237;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 312px;
}

#u23123
{
	z-index: 239;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 382px;
}

#u23143
{
	z-index: 241;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 452px;
}

#u23163
{
	z-index: 243;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 522px;
}

#u23183
{
	z-index: 245;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 592px;
}

#u23203
{
	z-index: 247;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 662px;
}

#u23223
{
	z-index: 249;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 732px;
}

#u23243
{
	z-index: 251;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 802px;
}

#u23023:hover,#u23043:hover,#u23063:hover,#u23083:hover,#u23103:hover,#u23123:hover,#u23143:hover,#u23163:hover,#u23183:hover,#u23203:hover,#u23223:hover,#u23243:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 165px -10000px 0px 0px;
}

#u23263
{
	z-index: 253;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 32px;
}

#u23283
{
	z-index: 255;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 102px;
}

#u23303
{
	z-index: 257;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 172px;
}

#u23323
{
	z-index: 259;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 242px;
}

#u23323_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u23343
{
	z-index: 261;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 312px;
}

#u23363
{
	z-index: 263;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 382px;
}

#u23383
{
	z-index: 265;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 452px;
}

#u23403
{
	z-index: 267;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 522px;
}

#u23223_img,#u23243_img,#u23343_img,#u23403_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u23423
{
	z-index: 269;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 592px;
}

#u23443
{
	z-index: 271;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 662px;
}

#u23263:hover,#u23283:hover,#u23303:hover,#u23323:hover,#u23343:hover,#u23363:hover,#u23383:hover,#u23403:hover,#u23423:hover,#u23443:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u23443_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u21828-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 463px;
	left: 640px;
}

#u21828-4popup
{
	z-index: 273;
}

#u21837-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 463px;
	left: 740px;
}

#u21837-4popup
{
	z-index: 277;
}

#u21820-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 463px;
	left: 670px;
}

#u21820-4popup
{
	z-index: 281;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6284-7
{
	z-index: 9;
	width: 319px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 20px;
}

#u6284
{
	text-indent: 37px;
}

#u6323-7
{
	z-index: 16;
	width: 150px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 455px;
}

#u6323
{
	text-indent: 26px;
}

#u6322-7
{
	z-index: 23;
	width: 220px;
	min-height: 72px;
	background-color: transparent;
	color: #E6E6E6;
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 720px;
}

.html
{
	background: #FFFFFF url("../images/game-of-thr.jpg") no-repeat center center fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 104px;
}

.verticalspacer
{
	min-height: 21px;
}

