.version.photo10 /* version checker */
{
	color: #000016;
	background-color: #EE237E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 776px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu160
{
	width: 0.01px;
	padding-bottom: 302px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u160
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	position: fixed;
	top: 166px;
	left: 860px;
}

#u17727
{
	z-index: 257;
	height: 56px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: fixed;
	top: 0px;
}

#u17727-bw
{
	z-index: 257;
}

#u17726-4
{
	z-index: 258;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 7px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -137px;
}

#u17726-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -137px;
}

#u17734-4
{
	z-index: 262;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -47px;
}

#u17734-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -47px;
}

#u17729-4
{
	z-index: 266;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 43px;
}

#u17729-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 43px;
}

#u17732-4
{
	z-index: 270;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 133px;
}

#u17732-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 133px;
}

#u17731-4
{
	z-index: 274;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 223px;
}

#u17731-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 223px;
}

#u17730-4
{
	z-index: 278;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 313px;
}

#u17730-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 313px;
}

#u17733-4
{
	z-index: 282;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 403px;
}

#u17733-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 403px;
}

#u17726-4:hover p,#u17734-4:hover p,#u17729-4:hover p,#u17732-4:hover p,#u17731-4:hover p,#u17730-4:hover p,#u17733-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

#u17728
{
	z-index: 286;
	width: 285px;
	height: 44px;
	position: fixed;
	top: 6px;
	left: 50%;
	margin-left: -480px;
	background: transparent url("../images/logo_game_of_thrones.png") no-repeat center center;
	background-size: cover;
}

#pu17737-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 90px;
	margin-left: 20px;
}

#u17737-5
{
	z-index: 3;
	width: 413px;
	min-height: 125px;
	background-color: transparent;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u17737-2
{
	font-size: 55px;
	line-height: 66px;
}

#u17737-3
{
	font-size: 34px;
	line-height: 41px;
}

#pu17776-4
{
	width: 0.01px;
	margin-top: 76px;
}

#u17776-4
{
	z-index: 30;
	width: 106px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u17736-4
{
	z-index: 34;
	width: 269px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#pu17738
{
	width: 0.01px;
}

#u17738
{
	z-index: 8;
	width: 920px;
	height: 438px;
	background-color: #E6E6E6;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#slideshowu32311
{
	z-index: 38;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 48px;
}

#u32325
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 42px;
	left: 159px;
	-pie-background: rgba(0,0,0,0.9);
}

#u32325popup
{
	z-index: 39;
}

#u32330
{
	z-index: 40;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32764
{
	z-index: 42;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32784
{
	z-index: 44;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32804
{
	z-index: 46;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32824
{
	z-index: 48;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32844
{
	z-index: 50;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32864
{
	z-index: 52;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32884
{
	z-index: 54;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32904
{
	z-index: 56;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32924
{
	z-index: 58;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32944
{
	z-index: 60;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32964
{
	z-index: 62;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32984
{
	z-index: 64;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33004
{
	z-index: 66;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33024
{
	z-index: 68;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33044
{
	z-index: 70;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33064
{
	z-index: 72;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33084
{
	z-index: 74;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33104
{
	z-index: 76;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33124
{
	z-index: 78;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33144
{
	z-index: 80;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32884_img,#u32904_img,#u32924_img,#u32944_img,#u32964_img,#u32984_img,#u33004_img,#u33024_img,#u33084_img,#u33104_img,#u33124_img,#u33144_img
{
	padding-top: 45px;
	padding-bottom: 45px;
}

#u33164
{
	z-index: 82;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33184
{
	z-index: 84;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33204
{
	z-index: 86;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33224
{
	z-index: 88;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33244
{
	z-index: 90;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33264
{
	z-index: 92;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33284
{
	z-index: 94;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33304
{
	z-index: 96;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33324
{
	z-index: 98;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33344
{
	z-index: 100;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33364
{
	z-index: 102;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33384
{
	z-index: 104;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33404
{
	z-index: 106;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33424
{
	z-index: 108;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33204_img,#u33424_img
{
	padding-left: 120px;
	padding-right: 121px;
}

#u33444
{
	z-index: 110;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33464
{
	z-index: 112;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33484
{
	z-index: 114;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33504
{
	z-index: 116;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33524
{
	z-index: 118;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33544
{
	z-index: 120;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33564
{
	z-index: 122;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33584
{
	z-index: 124;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33604
{
	z-index: 126;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33624
{
	z-index: 128;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33644
{
	z-index: 130;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33664
{
	z-index: 132;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33684
{
	z-index: 134;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32330_img,#u32764_img,#u32784_img,#u32824_img,#u32844_img,#u32864_img,#u33064_img,#u33164_img,#u33184_img,#u33224_img,#u33244_img,#u33264_img,#u33284_img,#u33304_img,#u33324_img,#u33344_img,#u33364_img,#u33384_img,#u33404_img,#u33444_img,#u33464_img,#u33484_img,#u33504_img,#u33524_img,#u33544_img,#u33564_img,#u33584_img,#u33604_img,#u33624_img,#u33664_img,#u33684_img
{
	padding-top: 20px;
	padding-bottom: 21px;
}

#u33704
{
	z-index: 136;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33724
{
	z-index: 138;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32804_img,#u33044_img,#u33644_img,#u33704_img,#u33724_img
{
	padding-left: 120px;
	padding-right: 120px;
}

#u33744
{
	z-index: 140;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u33744_img
{
	padding: 98px 102px 97px 103px;
}

#u32317
{
	position: absolute;
	width: 842px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 112px;
}

#u32317popup
{
	z-index: 142;
}

#u32320
{
	z-index: 143;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u32770
{
	z-index: 145;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u32790
{
	z-index: 147;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u32810
{
	z-index: 149;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u32830
{
	z-index: 151;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u32850
{
	z-index: 153;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 356px;
}

#u32870
{
	z-index: 155;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u32890
{
	z-index: 157;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u32910
{
	z-index: 159;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u32930
{
	z-index: 161;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#u32950
{
	z-index: 163;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 706px;
}

#u32970
{
	z-index: 165;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 776px;
}

#u32320:hover,#u32770:hover,#u32790:hover,#u32810:hover,#u32830:hover,#u32850:hover,#u32870:hover,#u32890:hover,#u32910:hover,#u32930:hover,#u32950:hover,#u32970:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32990
{
	z-index: 167;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 6px;
}

#u33010
{
	z-index: 169;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 76px;
}

#u33030
{
	z-index: 171;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 146px;
}

#u33050
{
	z-index: 173;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 216px;
}

#u33070
{
	z-index: 175;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 286px;
}

#u33090
{
	z-index: 177;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 356px;
}

#u33110
{
	z-index: 179;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 426px;
}

#u33130
{
	z-index: 181;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 496px;
}

#u33150
{
	z-index: 183;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 566px;
}

#u33170
{
	z-index: 185;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 636px;
}

#u33190
{
	z-index: 187;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 706px;
}

#u33210
{
	z-index: 189;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 776px;
}

#u32990:hover,#u33010:hover,#u33030:hover,#u33050:hover,#u33070:hover,#u33090:hover,#u33110:hover,#u33130:hover,#u33150:hover,#u33170:hover,#u33190:hover,#u33210:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u33230
{
	z-index: 191;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 6px;
}

#u33250
{
	z-index: 193;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 76px;
}

#u33270
{
	z-index: 195;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 146px;
}

#u33290
{
	z-index: 197;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 216px;
}

#u33310
{
	z-index: 199;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 286px;
}

#u33330
{
	z-index: 201;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 356px;
}

#u33350
{
	z-index: 203;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 426px;
}

#u33370
{
	z-index: 205;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 496px;
}

#u33390
{
	z-index: 207;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 566px;
}

#u33410
{
	z-index: 209;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 636px;
}

#u33430
{
	z-index: 211;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 706px;
}

#u33450
{
	z-index: 213;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 776px;
}

#u33230:hover,#u33250:hover,#u33270:hover,#u33290:hover,#u33310:hover,#u33330:hover,#u33350:hover,#u33370:hover,#u33390:hover,#u33410:hover,#u33430:hover,#u33450:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u33470
{
	z-index: 215;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 6px;
}

#u33490
{
	z-index: 217;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 76px;
}

#u33510
{
	z-index: 219;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 146px;
}

#u33530
{
	z-index: 221;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 216px;
}

#u33550
{
	z-index: 223;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 286px;
}

#u33570
{
	z-index: 225;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 356px;
}

#u33590
{
	z-index: 227;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 426px;
}

#u33610
{
	z-index: 229;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 496px;
}

#u33630
{
	z-index: 231;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 566px;
}

#u33650
{
	z-index: 233;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 636px;
}

#u33670
{
	z-index: 235;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 706px;
}

#u33690
{
	z-index: 237;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 776px;
}

#u33470:hover,#u33490:hover,#u33510:hover,#u33530:hover,#u33550:hover,#u33570:hover,#u33590:hover,#u33610:hover,#u33630:hover,#u33650:hover,#u33670:hover,#u33690:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 165px -10000px 0px 0px;
}

#u32320_img,#u32770_img,#u32790_img,#u32830_img,#u32850_img,#u32870_img,#u33070_img,#u33170_img,#u33190_img,#u33230_img,#u33250_img,#u33270_img,#u33290_img,#u33310_img,#u33330_img,#u33350_img,#u33370_img,#u33390_img,#u33410_img,#u33450_img,#u33470_img,#u33490_img,#u33510_img,#u33530_img,#u33550_img,#u33570_img,#u33590_img,#u33610_img,#u33630_img,#u33670_img,#u33690_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u33710
{
	z-index: 239;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 6px;
}

#u33730
{
	z-index: 241;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 76px;
}

#u33750
{
	z-index: 243;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 146px;
}

#u33710:hover,#u33730:hover,#u33750:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u33750_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u32324-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 434px;
	left: 531px;
}

#u32324-4popup
{
	z-index: 245;
}

#u32333-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 434px;
	left: 631px;
}

#u32333-4popup
{
	z-index: 249;
}

#u32316-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 434px;
	left: 561px;
}

#u32316-4popup
{
	z-index: 253;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u17739-7
{
	z-index: 9;
	width: 319px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 20px;
}

#u17739
{
	text-indent: 37px;
}

#u17778-7
{
	z-index: 16;
	width: 150px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 455px;
}

#u17778
{
	text-indent: 26px;
}

#u17777-7
{
	z-index: 23;
	width: 220px;
	min-height: 72px;
	background-color: transparent;
	color: #E6E6E6;
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 720px;
}

.html
{
	background: #FFFFFF url("../images/game-of-thr.jpg") no-repeat center center fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 104px;
}

.verticalspacer
{
	min-height: 20px;
}

