.version.photo7 /* version checker */
{
	color: #000003;
	background-color: #6AD920;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 776px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu160
{
	width: 0.01px;
	padding-bottom: 302px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u160
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	position: fixed;
	top: 166px;
	left: 860px;
}

#u13108
{
	z-index: 257;
	height: 56px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: fixed;
	top: 0px;
}

#u13108-bw
{
	z-index: 257;
}

#u13107-4
{
	z-index: 258;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 7px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -137px;
}

#u13107-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -137px;
}

#u13115-4
{
	z-index: 262;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -47px;
}

#u13115-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -47px;
}

#u13110-4
{
	z-index: 266;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 43px;
}

#u13110-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 43px;
}

#u13113-4
{
	z-index: 270;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 133px;
}

#u13113-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 133px;
}

#u13112-4
{
	z-index: 274;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 223px;
}

#u13112-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 223px;
}

#u13111-4
{
	z-index: 278;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 313px;
}

#u13111-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 313px;
}

#u13114-4
{
	z-index: 282;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 403px;
}

#u13114-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 403px;
}

#u13107-4:hover p,#u13115-4:hover p,#u13110-4:hover p,#u13113-4:hover p,#u13112-4:hover p,#u13111-4:hover p,#u13114-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

#u13109
{
	z-index: 286;
	width: 285px;
	height: 44px;
	position: fixed;
	top: 6px;
	left: 50%;
	margin-left: -480px;
	background: transparent url("../images/logo_game_of_thrones.png") no-repeat center center;
	background-size: cover;
}

#pu13118-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 90px;
	margin-left: 20px;
}

#u13118-5
{
	z-index: 3;
	width: 413px;
	min-height: 125px;
	background-color: transparent;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u13118-2
{
	font-size: 55px;
	line-height: 66px;
}

#u13118-3
{
	font-size: 34px;
	line-height: 41px;
}

#pu13157-4
{
	width: 0.01px;
	margin-top: 76px;
}

#u13157-4
{
	z-index: 30;
	width: 106px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13117-4
{
	z-index: 34;
	width: 269px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#pu13119
{
	width: 0.01px;
}

#u13119
{
	z-index: 8;
	width: 920px;
	height: 438px;
	background-color: #E6E6E6;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#slideshowu27830
{
	z-index: 38;
	width: 0.01px;
	height: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 42px;
}

#u27844
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 78px;
	left: 240px;
	-pie-background: rgba(0,0,0,0.9);
}

#u27844popup
{
	z-index: 39;
}

#u27849
{
	z-index: 40;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28283
{
	z-index: 42;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28283_img
{
	padding-left: 60px;
	padding-right: 60px;
}

#u28303
{
	z-index: 44;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28303_img
{
	padding-left: 130px;
	padding-right: 130px;
}

#u28323
{
	z-index: 46;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28323_img
{
	padding-top: 21px;
	padding-bottom: 20px;
}

#u28343
{
	z-index: 48;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28363
{
	z-index: 50;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28383
{
	z-index: 52;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28403
{
	z-index: 54;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28423
{
	z-index: 56;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28443
{
	z-index: 58;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28463
{
	z-index: 60;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28483
{
	z-index: 62;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28503
{
	z-index: 64;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28523
{
	z-index: 66;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28543
{
	z-index: 68;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28543_img
{
	padding-top: 63px;
	padding-bottom: 62px;
}

#u28563
{
	z-index: 70;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28583
{
	z-index: 72;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28603
{
	z-index: 74;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28623
{
	z-index: 76;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28623_img
{
	padding-top: 49px;
	padding-bottom: 48px;
}

#u28643
{
	z-index: 78;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28643_img
{
	padding-left: 125px;
	padding-right: 125px;
}

#u28663
{
	z-index: 80;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28683
{
	z-index: 82;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28703
{
	z-index: 84;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28723
{
	z-index: 86;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28743
{
	z-index: 88;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28763
{
	z-index: 90;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28783
{
	z-index: 92;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28803
{
	z-index: 94;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28823
{
	z-index: 96;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28843
{
	z-index: 98;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28863
{
	z-index: 100;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28883
{
	z-index: 102;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28903
{
	z-index: 104;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28923
{
	z-index: 106;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28943
{
	z-index: 108;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28963
{
	z-index: 110;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28983
{
	z-index: 112;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29003
{
	z-index: 114;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29023
{
	z-index: 116;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29043
{
	z-index: 118;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28583_img,#u28823_img,#u28903_img,#u28923_img,#u28963_img,#u29043_img
{
	padding-left: 120px;
	padding-right: 121px;
}

#u29063
{
	z-index: 120;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29083
{
	z-index: 122;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29103
{
	z-index: 124;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28563_img,#u28603_img,#u28883_img,#u29003_img,#u29103_img
{
	padding-top: 20px;
	padding-bottom: 21px;
}

#u29123
{
	z-index: 126;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27849_img,#u28403_img,#u28423_img,#u28443_img,#u28463_img,#u28483_img,#u28503_img,#u28523_img,#u28663_img,#u28683_img,#u28703_img,#u28723_img,#u28743_img,#u28763_img,#u28783_img,#u28803_img,#u28843_img,#u28863_img,#u29063_img,#u29083_img,#u29123_img
{
	padding-top: 45px;
	padding-bottom: 45px;
}

#u29143
{
	z-index: 128;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29163
{
	z-index: 130;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29143_img,#u29163_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u29183
{
	z-index: 132;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29183_img
{
	padding-left: 94px;
	padding-right: 94px;
}

#u29203
{
	z-index: 134;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29023_img,#u29203_img
{
	padding-right: 1px;
}

#u29223
{
	z-index: 136;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29243
{
	z-index: 138;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u28343_img,#u28363_img,#u28383_img,#u28943_img,#u28983_img,#u29223_img,#u29243_img
{
	padding-left: 120px;
	padding-right: 120px;
}

#u29263
{
	z-index: 140;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29263_img
{
	padding: 98px 102px 97px 103px;
}

#u27836
{
	position: absolute;
	width: 860px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 58px;
}

#u27836popup
{
	z-index: 142;
}

#u27839
{
	z-index: 143;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u28289
{
	z-index: 145;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u28309
{
	z-index: 147;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u28329
{
	z-index: 149;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u28349
{
	z-index: 151;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u28369
{
	z-index: 153;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u28389
{
	z-index: 155;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 435px;
}

#u28409
{
	z-index: 157;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u28429
{
	z-index: 159;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u28449
{
	z-index: 161;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 645px;
}

#u28469
{
	z-index: 163;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 715px;
}

#u28489
{
	z-index: 165;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 785px;
}

#u27839:hover,#u28289:hover,#u28309:hover,#u28329:hover,#u28349:hover,#u28369:hover,#u28389:hover,#u28409:hover,#u28429:hover,#u28449:hover,#u28469:hover,#u28489:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u28509
{
	z-index: 167;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 15px;
}

#u28529
{
	z-index: 169;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 85px;
}

#u28549
{
	z-index: 171;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 155px;
}

#u28569
{
	z-index: 173;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 225px;
}

#u28589
{
	z-index: 175;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 295px;
}

#u28609
{
	z-index: 177;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 365px;
}

#u28629
{
	z-index: 179;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 435px;
}

#u28649
{
	z-index: 181;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 505px;
}

#u28669
{
	z-index: 183;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 575px;
}

#u28689
{
	z-index: 185;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 645px;
}

#u28709
{
	z-index: 187;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 715px;
}

#u28729
{
	z-index: 189;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 785px;
}

#u28509:hover,#u28529:hover,#u28549:hover,#u28569:hover,#u28589:hover,#u28609:hover,#u28629:hover,#u28649:hover,#u28669:hover,#u28689:hover,#u28709:hover,#u28729:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u28749
{
	z-index: 191;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 15px;
}

#u28769
{
	z-index: 193;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 85px;
}

#u28789
{
	z-index: 195;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 155px;
}

#u28809
{
	z-index: 197;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 225px;
}

#u28829
{
	z-index: 199;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 295px;
}

#u28849
{
	z-index: 201;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 365px;
}

#u28869
{
	z-index: 203;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 435px;
}

#u28889
{
	z-index: 205;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 505px;
}

#u28909
{
	z-index: 207;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 575px;
}

#u28929
{
	z-index: 209;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 645px;
}

#u28949
{
	z-index: 211;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 715px;
}

#u28969
{
	z-index: 213;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 785px;
}

#u28749:hover,#u28769:hover,#u28789:hover,#u28809:hover,#u28829:hover,#u28849:hover,#u28869:hover,#u28889:hover,#u28909:hover,#u28929:hover,#u28949:hover,#u28969:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u28989
{
	z-index: 215;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 15px;
}

#u29009
{
	z-index: 217;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 85px;
}

#u29029
{
	z-index: 219;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 155px;
}

#u29049
{
	z-index: 221;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 225px;
}

#u29069
{
	z-index: 223;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 295px;
}

#u29089
{
	z-index: 225;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 365px;
}

#u29109
{
	z-index: 227;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 435px;
}

#u29129
{
	z-index: 229;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 505px;
}

#u29149
{
	z-index: 231;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 575px;
}

#u29169
{
	z-index: 233;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 645px;
}

#u28329_img,#u28569_img,#u28609_img,#u28889_img,#u29009_img,#u29109_img,#u29149_img,#u29169_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u29189
{
	z-index: 235;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 715px;
}

#u29209
{
	z-index: 237;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 785px;
}

#u28989:hover,#u29009:hover,#u29029:hover,#u29049:hover,#u29069:hover,#u29089:hover,#u29109:hover,#u29129:hover,#u29149:hover,#u29169:hover,#u29189:hover,#u29209:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 165px -10000px 0px 0px;
}

#u29229
{
	z-index: 239;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 15px;
}

#u29249
{
	z-index: 241;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 85px;
}

#u29269
{
	z-index: 243;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 155px;
}

#u29229:hover,#u29249:hover,#u29269:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u29269_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u27843-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 470px;
	left: 611px;
}

#u27843-4popup
{
	z-index: 245;
}

#u27852-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 470px;
	left: 711px;
}

#u27852-4popup
{
	z-index: 249;
}

#u27835-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 470px;
	left: 641px;
}

#u27835-4popup
{
	z-index: 253;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13120-7
{
	z-index: 9;
	width: 319px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 20px;
}

#u13120
{
	text-indent: 37px;
}

#u13159-7
{
	z-index: 16;
	width: 150px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 455px;
}

#u13159
{
	text-indent: 26px;
}

#u13158-7
{
	z-index: 23;
	width: 220px;
	min-height: 72px;
	background-color: transparent;
	color: #E6E6E6;
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 720px;
}

.html
{
	background: #FFFFFF url("../images/game-of-thr.jpg") no-repeat center center fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 104px;
}

.verticalspacer
{
	min-height: 20px;
}

