.version.photo5 /* version checker */
{
	color: #000006;
	background-color: #AC20B1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 776px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu160
{
	width: 0.01px;
	padding-bottom: 302px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u160
{
	z-index: 2;
	width: 200px;
	min-height: 100px;
	position: fixed;
	top: 166px;
	left: 860px;
}

#u10289
{
	z-index: 217;
	height: 56px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: fixed;
	top: 0px;
}

#u10289-bw
{
	z-index: 217;
}

#u10288-4
{
	z-index: 218;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 7px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -137px;
}

#u10288-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -137px;
}

#u10296-4
{
	z-index: 222;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -47px;
}

#u10296-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px -47px;
}

#u10291-4
{
	z-index: 226;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 43px;
}

#u10291-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 43px;
}

#u10294-4
{
	z-index: 230;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 133px;
}

#u10294-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 133px;
}

#u10293-4
{
	z-index: 234;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 223px;
}

#u10293-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 223px;
}

#u10292-4
{
	z-index: 238;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 313px;
}

#u10292-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 313px;
}

#u10295-4
{
	z-index: 242;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-indent: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: 403px;
}

#u10295-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 77px;
	margin: 0px 0px 0px 403px;
}

#u10288-4:hover p,#u10296-4:hover p,#u10291-4:hover p,#u10294-4:hover p,#u10293-4:hover p,#u10292-4:hover p,#u10295-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

#u10290
{
	z-index: 246;
	width: 285px;
	height: 44px;
	position: fixed;
	top: 6px;
	left: 50%;
	margin-left: -480px;
	background: transparent url("../images/logo_game_of_thrones.png") no-repeat center center;
	background-size: cover;
}

#pu10299-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 90px;
	margin-left: 20px;
}

#u10299-5
{
	z-index: 3;
	width: 413px;
	min-height: 125px;
	background-color: transparent;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10299-2
{
	font-size: 55px;
	line-height: 66px;
}

#u10299-3
{
	font-size: 34px;
	line-height: 41px;
}

#pu10338-4
{
	width: 0.01px;
	margin-top: 76px;
}

#u10338-4
{
	z-index: 30;
	width: 106px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10298-4
{
	z-index: 34;
	width: 269px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#pu10300
{
	width: 0.01px;
}

#u10300
{
	z-index: 8;
	width: 920px;
	height: 438px;
	background-color: #E6E6E6;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#slideshowu25104
{
	z-index: 38;
	width: 0.01px;
	height: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 9px;
}

#u25118
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 82px;
	left: 263px;
	-pie-background: rgba(0,0,0,0.9);
}

#u25118popup
{
	z-index: 39;
}

#u25119
{
	z-index: 40;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25119_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u25487
{
	z-index: 42;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25487_img
{
	padding-left: 121px;
	padding-right: 120px;
}

#u25507
{
	z-index: 44;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25507_img
{
	padding-top: 47px;
	padding-bottom: 46px;
}

#u25527
{
	z-index: 46;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25527_img
{
	padding-top: 44px;
	padding-bottom: 44px;
}

#u25547
{
	z-index: 48;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25547_img
{
	padding-top: 38px;
	padding-bottom: 38px;
}

#u25567
{
	z-index: 50;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25567_img
{
	padding-right: 1px;
}

#u25587
{
	z-index: 52;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25587_img
{
	padding-top: 40px;
	padding-bottom: 40px;
}

#u25607
{
	z-index: 54;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25607_img
{
	padding-top: 77px;
	padding-bottom: 76px;
}

#u25627
{
	z-index: 56;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25627_img
{
	padding-top: 22px;
	padding-bottom: 22px;
}

#u25647
{
	z-index: 58;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25647_img
{
	padding-left: 118px;
	padding-right: 117px;
}

#u25667
{
	z-index: 60;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25687
{
	z-index: 62;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25707
{
	z-index: 64;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25707_img
{
	padding-top: 42px;
	padding-bottom: 42px;
}

#u25727
{
	z-index: 66;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25747
{
	z-index: 68;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25767
{
	z-index: 70;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25767_img
{
	padding-left: 106px;
	padding-right: 106px;
}

#u25787
{
	z-index: 72;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25787_img
{
	padding-left: 101px;
	padding-right: 100px;
}

#u25807
{
	z-index: 74;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25807_img
{
	padding-left: 98px;
	padding-right: 98px;
}

#u25827
{
	z-index: 76;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25847
{
	z-index: 78;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25867
{
	z-index: 80;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25867_img
{
	padding-left: 132px;
	padding-right: 133px;
}

#u25887
{
	z-index: 82;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25887_img
{
	padding-left: 130px;
	padding-right: 130px;
}

#u25907
{
	z-index: 84;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25927
{
	z-index: 86;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25847_img,#u25927_img
{
	padding-left: 110px;
	padding-right: 109px;
}

#u25947
{
	z-index: 88;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25947_img
{
	padding-left: 101px;
	padding-right: 101px;
}

#u25967
{
	z-index: 90;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25967_img
{
	padding-left: 111px;
	padding-right: 112px;
}

#u25987
{
	z-index: 92;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25987_img
{
	padding-top: 60px;
	padding-bottom: 60px;
}

#u26007
{
	z-index: 94;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26007_img
{
	padding-top: 60px;
	padding-bottom: 61px;
}

#u26027
{
	z-index: 96;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25827_img,#u26027_img
{
	padding-top: 25px;
	padding-bottom: 24px;
}

#u26047
{
	z-index: 98;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26067
{
	z-index: 100;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26067_img
{
	padding-left: 94px;
	padding-right: 94px;
}

#u26087
{
	z-index: 102;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26087_img
{
	padding-left: 107px;
	padding-right: 107px;
}

#u26107
{
	z-index: 104;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26107_img
{
	padding-left: 112px;
	padding-right: 111px;
}

#u26127
{
	z-index: 106;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26127_img
{
	padding-left: 106px;
	padding-right: 105px;
}

#u26147
{
	z-index: 108;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26147_img
{
	padding-left: 61px;
	padding-right: 60px;
}

#u26167
{
	z-index: 110;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26167_img
{
	padding-left: 99px;
	padding-right: 100px;
}

#u26187
{
	z-index: 112;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26047_img,#u26187_img
{
	padding-left: 109px;
	padding-right: 109px;
}

#u26207
{
	z-index: 114;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26207_img
{
	padding-top: 16px;
	padding-bottom: 17px;
}

#u26227
{
	z-index: 116;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25687_img,#u25727_img,#u25747_img,#u25907_img,#u26227_img
{
	padding-left: 120px;
	padding-right: 120px;
}

#u26247
{
	z-index: 118;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26247_img
{
	padding-top: 53px;
	padding-bottom: 52px;
}

#u26267
{
	z-index: 120;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26267_img
{
	padding: 98px 102px 97px 103px;
}

#u25110
{
	position: absolute;
	width: 872px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 110px;
}

#u25110popup
{
	z-index: 122;
}

#u25111
{
	z-index: 123;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u25493
{
	z-index: 125;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u25513
{
	z-index: 127;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u25533
{
	z-index: 129;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#u25553
{
	z-index: 131;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u25573
{
	z-index: 133;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u25593
{
	z-index: 135;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u25613
{
	z-index: 137;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 511px;
}

#u25633
{
	z-index: 139;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 581px;
}

#u25111_img,#u25633_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u25653
{
	z-index: 141;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 651px;
}

#u25673
{
	z-index: 143;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 721px;
}

#u25693
{
	z-index: 145;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 791px;
}

#u25111:hover,#u25493:hover,#u25513:hover,#u25533:hover,#u25553:hover,#u25573:hover,#u25593:hover,#u25613:hover,#u25633:hover,#u25653:hover,#u25673:hover,#u25693:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u25713
{
	z-index: 147;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 21px;
}

#u25733
{
	z-index: 149;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 91px;
}

#u25753
{
	z-index: 151;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 161px;
}

#u25773
{
	z-index: 153;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 231px;
}

#u25793
{
	z-index: 155;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 301px;
}

#u25813
{
	z-index: 157;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 371px;
}

#u25833
{
	z-index: 159;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 441px;
}

#u25833_img
{
	margin-left: -5px;
	margin-right: -4px;
}

#u25853
{
	z-index: 161;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 511px;
}

#u25873
{
	z-index: 163;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 581px;
}

#u25893
{
	z-index: 165;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 651px;
}

#u25913
{
	z-index: 167;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 721px;
}

#u25933
{
	z-index: 169;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 791px;
}

#u25713:hover,#u25733:hover,#u25753:hover,#u25773:hover,#u25793:hover,#u25813:hover,#u25833:hover,#u25853:hover,#u25873:hover,#u25893:hover,#u25913:hover,#u25933:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u25953
{
	z-index: 171;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 21px;
}

#u25973
{
	z-index: 173;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 91px;
}

#u25993
{
	z-index: 175;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 161px;
}

#u26013
{
	z-index: 177;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 231px;
}

#u26033
{
	z-index: 179;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 301px;
}

#u26033_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u26053
{
	z-index: 181;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 371px;
}

#u26073
{
	z-index: 183;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 441px;
}

#u26093
{
	z-index: 185;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 511px;
}

#u26113
{
	z-index: 187;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 581px;
}

#u26133
{
	z-index: 189;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 651px;
}

#u26153
{
	z-index: 191;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 721px;
}

#u26173
{
	z-index: 193;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 791px;
}

#u25953:hover,#u25973:hover,#u25993:hover,#u26013:hover,#u26033:hover,#u26053:hover,#u26073:hover,#u26093:hover,#u26113:hover,#u26133:hover,#u26153:hover,#u26173:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u26193
{
	z-index: 195;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 21px;
}

#u26213
{
	z-index: 197;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 91px;
}

#u26213_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u26233
{
	z-index: 199;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 161px;
}

#u26253
{
	z-index: 201;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 231px;
}

#u26273
{
	z-index: 203;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 301px;
}

#u26193:hover,#u26213:hover,#u26233:hover,#u26253:hover,#u26273:hover
{
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 165px -10000px 0px 0px;
}

#u26273_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u25117-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 474px;
	left: 635px;
}

#u25117-4popup
{
	z-index: 205;
}

#u25126-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 474px;
	left: 735px;
}

#u25126-4popup
{
	z-index: 209;
}

#u25109-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 474px;
	left: 665px;
}

#u25109-4popup
{
	z-index: 213;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u10301-7
{
	z-index: 9;
	width: 319px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 20px;
}

#u10301
{
	text-indent: 37px;
}

#u10340-7
{
	z-index: 16;
	width: 150px;
	min-height: 72px;
	background-color: transparent;
	text-align: left;
	color: #E6E6E6;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 455px;
}

#u10340
{
	text-indent: 26px;
}

#u10339-7
{
	z-index: 23;
	width: 220px;
	min-height: 72px;
	background-color: transparent;
	color: #E6E6E6;
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 720px;
}

.html
{
	background: #FFFFFF url("../images/game-of-thr.jpg") no-repeat center center fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 104px;
}

.verticalspacer
{
	min-height: 20px;
}

